section.main {
    background-image: url("../Images/login_p.png");
    height: 100vh;

    div.login-container {
        width: 60vw;
        background-image: url("../Images/bg.png");
        background-size: 100% 100%;

        img.BSU {
            width: 250px;
            height: 250px;
        }
    }

}

